$c00: #000;
$c01: #00ff00;
$c02: rgba(0, 0, 0, 0.2);
$c03: #8a8a8a;
$c04: #00ff00;
$c05: #ccc;
$c06: #0063b1;
$c07: #3a96dd;
$c08: #575f65;
$c09: #00ff00;
$c10: #00ff00;
$c11: #00ff00;
$c12: #ffa333;

$c_brand: $c00;
$c_shadow: $c00;
$c_chrome: $c00;
$c_textHeading: $c08;
$c_textLight: $c08;

$c_messageFromMe: $c00;
$c_messageFromThem: $c00;